<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.pacificu.cs493f15_1.paperorplasticapp" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name = "edu.pacificu.cs493f15_1.MyApplication">
        <activity
            android:name=".MainSignInActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about">
        </activity>

        <activity
            android:name=".ContinueActivity"
            android:label="@string/title_activity_continue">
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>

        <activity
            android:name=".GroceryListActivity"
            android:label="@string/title_activity_grocery_lists">
        </activity>

        <activity
            android:name=".GroceryListSettingsActivity"
            android:label="@string/title_activity_grocery_lists_settings">
        </activity>

        <activity
            android:name=".KitchenListActivity"
            android:label="@string/title_activity_kitchen_lists">
        </activity>

        <activity
            android:name=".KitchenListSettingsActivity"
            android:label="@string/title_activity_kitchen_lists_settings">
        </activity>

        <activity
            android:name=".NutritionActivity"
            android:label="@string/title_activity_nutrition">
        </activity>

        <activity
            android:name=".NutritionSettingsActivity"
            android:label="@string/title_activity_nutrition_settings">
        </activity>

        <activity
            android:name=".CouponsActivity"
            android:label="@string/title_activity_coupons">
        </activity>

        <activity
            android:name=".CouponsSettingsActivity"
            android:label="@string/title_activity_coupons_settings">
        </activity>

        <activity
            android:name=".RecipesActivity"
            android:label="@string/title_activity_recipes">
        </activity>

        <activity
            android:name=".RecipesSettingsActivity"
            android:label="@string/title_activity_recipes_settings">
        </activity>

    </application>

</manifest>
